# Terraform state files
terraform.tfstate
terraform.tfstate.backup
tfplan
.terraform/            # <-- Add this to ignore the local Terraform cache

# Log files
*.log

# Environment variables
.env

# Node.js dependencies
node_modules/

# SonarQube files
.scannerwork/          # <-- Add this

# Python bytecode
__pycache__/
